body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
}

/* Home text */
.intro {
    columns: 2;
    column-gap: 2em;
    padding: 2em;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid yellow;
}

/* about text */
.about {
    columns: 3;
    column-gap: 2em;
    padding: 2em;
    max-width: ;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid yellow;
}

h1 {
    margin-top: 0;
}

figure {
    float: right;
    padding-left: 0;
 
}




header {
    height: 325px;
    width: 100%;
    background-image: url(images/cutlite.jpg);
    background-size: 100% 100%;
}

header img {
    max-width: 100%;
    height: auto;
    }



/* Navigation-Menu */

.mainMenu {
    padding: 5px 0 5px 0;
    text-align: left;
    color: red;
    line-height: 32px;
    background-color: black;
    border: 3px solid yellow;
    width: 100%;
    margin-top: 0;
    }

.mainMenu li {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 18px;
   
}

.mainMenu a {
    text-decoration: none;
    color: whitesmoke;
    /* padding: 8px; */
    font-size: 1.25em;
    font-variant: small-cops;
}

.mainMenu a:hover {
    color: red;
}

/* Characters-Character Grid */

.container {
    max-width: 1500px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 156px 156px 156px 156px;
    grid-template-rows: 210px 210px 210px;
    box-sizing: border-box;
}

.characters {
    border: 8px black solid;
    background-size: 100% 100%;
}

.characters:hover {
    border-color: limegreen;
}

.liukang {
    background-image: url(images/characters/medCharacters/liuKang.jpg);
 }
.kunglao {
    background-image: url(images/Characters/medcharacters/kungLao.jpg);
}

.johnnycage {
    background-image: url(images/Characters/medcharacters/johnnyCage.jpg);
}

.reptile {
    background-image: url(images/Characters/medcharacters/reptile.jpg);
}

.shangtsung {
    background-image: url(images/Characters/medcharacters/shangTsung.jpg);
}

.subzero {
    background-image: url(images/Characters/medcharacters/subZero.jpg);
}

.katana {
    background-image: url(images/Characters/medcharacters/katana.jpg);
}

.jaxbriggs {
    background-image: url(images/Characters/medcharacters/jax.jpg);
}

.mileena {
    background-image: url(images/Characters/medcharacters/mileena.jpg);
}

.baraka {
    background-image: url(images/Characters/medcharacters/baraka.jpg);
}

.scorpion{
    background-image: url(images/Characters/medcharacters/scorpion.jpg);
}

.raiden {
    background-image: url(images/Characters/medcharacters/raiden.jpg);
}


/* Characters-character info */
#characterInfo {
    width: 45%;
    height: 460px;
    border: 3px solid yellow;
    float: right;
    margin-right: 25px;
    background-image:url(./images/characters/info/reptileBio.jpg);
    background-size: 100% 100%;
}


/* About-Image Carousel */









.slideshow-container {
    width: 45%;
    position: relative;
    margin: auto;
    padding-top: 10px;
    
 }

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    /* width: auto; */
    /* margin-top: -22px; */
    /* padding: 16px; */
    /* color: red; */
    /* font-weight: bold; */
    /* font-size: 18px; */
    transition: 0.8s ease;
    /* border-radius: 0 3px 3px 0; */
    /* user-select: none; */
}

.prev img {
    width: 80px;
    height: 80px;
}

.next img{
    width: 80px;
    height: 80px;
}

.prev {
    left: -100px;
}

.next {
    right: -100px;
    /* border-radius: 3px 0 0 3px; */
}

.prev:hover, .next:hover {
    transform: rotate(360deg);
}

.text {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color:#f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: red;
}

/* Responsive */

/* @media (min-width: 600px) {
.header {
    display: flex;
    align-items: center;
}}

@media (max-width: 900px) {
.container {
    grid-template-columns: 206px 206px 206px;
    grid-template-rows: 260px 260px 260px 260px;
}} */

