.body {
    font-family: 'Arial', sans-serif;
    background-color: firebrick;
}

.wrapper {
    max-width:500px;
    margin: 0 auto;
    background-color: black;
    padding: 32px;
}

header {
    background-image: url(images/mk_logo_banner.jpg);
    background-size: contain;
    height: 485px;
}

/* Navigation-Menu */

.Main-Menu {
    padding: 5px 0 5px 0;
    text-align: left;
    color: red;
    line-height: 32px;
    background-color: black;
    border: 3px solid yellow;
}

ul.Main-Menu {
    margin-top: 0px;
}

.Main-Menu li {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 18px;
}

.Main-Menu a {
    text-decoration: none;
    color: whitesmoke;
    padding: 8px;
    font-size: 1.5em;
    font-variant: small-cops;
}

.Main-Menu a:hover {
    color: red;
}