body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    
}



header {
    height: 325px;
    width: 100%;
    background-image: url(images/cutlite.jpg);
    background-size: 100% 100%;
}

header img {
    max-width: 100%;
    height: auto;
    }



/* Navigation-Menu */

.mainMenu {
    padding: 5px 0 5px 0;
    text-align: left;
    color: red;
    line-height: 32px;
    background-color: black;
    border: 3px solid yellow;
    width: 100%;
    margin-top: 0;
    }

.mainMenu li {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 18px;
   
}

.mainMenu a {
    text-decoration: none;
    color: whitesmoke;
    /* padding: 8px; */
    font-size: 1.5em;
    font-variant: small-cops;
} 

.mainMenu a:hover {
    color: red;
}

/* Character Grid */

.container {
    max-width: 1500px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 206px 206px 206px 206px;
    grid-template-rows: 260px 260px 260px;
    box-sizing: border-box;
    padding-bottom: 100px;
}

.characters {
    border: 8px black solid;
}

.characters:hover {
    border-color: limegreen;
}

.liukang {
    background-image: url(images/Characters/characters/liuKang.jpg);
 }
.kunglao {
    background-image: url(images/Characters/characters/kungLao.jpg);
}

.johnnycage {
    background-image: url(images/Characters/characters/johnnyCage.jpg);
}

.reptile {
    background-image: url(images/Characters/characters/reptile.jpg);
}

.subzero {
    background-image: url(images/Characters/characters/shangTsung.jpg);
}

.shangtsung {
    background-image: url(images/Characters/characters/subZero.jpg);
}

.katana {
    background-image: url(images/Characters/characters/katana.jpg);
}

.jaxbriggs {
    background-image: url(images/Characters/characters/jax.jpg);
}

.mileena {
    background-image: url(images/Characters/characters/mileena.jpg);
}

.baraka {
    background-image: url(images/Characters/characters/baraka.jpg);
}

.scorpion{
    background-image: url(images/Characters/characters/scorpion.jpg);
}

.raiden {
    background-image: url(images/Characters/characters/raiden.jpg);
}


/* character info */
#characterInfo {
    width: 45%;
    height: 500px;
    /* border: 1px solid red; */
    float: right;
    top: 100px;
    background-image: url(images/characters/info/kangBio.jpg);
    background-size: cover;
    background-position: center center;
}


/* Image Carousel */

.slideshow-container {
    width: 45%;
    position: relative;
    margin: auto;
    
 }

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    /* width: auto; */
    /* margin-top: -22px; */
    /* padding: 16px; */
    /* color: red; */
    /* font-weight: bold; */
    /* font-size: 18px; */
    transition: 0.8s ease;
    /* border-radius: 0 3px 3px 0; */
    /* user-select: none; */
}

.prev img {
    width: 80px;
    height: 80px;
}

.next img{
    width: 80px;
    height: 80px;
}

.prev {
    left: -100px;
}

.next {
    right: -100px;
    /* border-radius: 3px 0 0 3px; */
}

.prev:hover, .next:hover {
    transform: rotate(360deg);
}

.text {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color:#f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: red;
}

/* Responsive */

@media (min-width: 600px) {
/* .header {
    display: flex;
    align-items: center;
}} */

@media (max-width: 900px) {
.container {
    grid-template-columns: 206px 206px 206px;
    grid-template-rows: 260px 260px 260px 260px;
}}

